<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Profile Image</title>
</head>
<body>
    <form action="/user/profile-image-update/660f87b7c7c8681a181f35b4" method="post" enctype="multipart/form-data">
        <input type="file" name="image"/>

        <button type="submit">Upload</button>
    </form>
</body>
</html>
